<style>
    /* Oculta o elemento com id 'sair' */
    #sair {
        display: none;
    }
</style>

<!-- Se houver erros, percorre cada erro e exibe uma mensagem de alerta com o texto do erro.
     Caso contrário, exibe uma mensagem de sucesso informando que nenhum erro foi encontrado. -->
{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
    <div class="alert alert-success">Nenhum erro encontrado</div>
{{/each}}

<!-- Título da seção de cadastro de novos dados -->
<h3>Editar Perfil: </h3>

<!-- Estrutura de um cartão (card) do Bootstrap para manter o formulário visualmente agrupado e estilizado -->
<div class="card">
    <div class="card-body">
        
        <!-- Formulário para adicionar novos dados, enviando uma requisição POST para /admin/dados/nova com suporte a arquivos -->
        <form action="/admin/dados/edit" method="POST" >

         <!-- Campo oculto contendo o ID dos dados que estão sendo editados -->
            <input type="hidden" name="id" value="{{dados._id}}">

            <!-- Campo de texto para inserir o nome -->
            <label for="nome">NOME:</label>
            <input class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome" value="{{dados.nome}}">
            <br>

            <!-- Campo de texto para inserir o email -->
            <label for="telefone">Telefone:</label>
            <input class="form-control" type="text" name="telefone" id="telefone" placeholder="Seu telefone" value="{{dados.telefone}}">
            <br>

            <!-- Campo de texto para inserir a função em que trabalha -->
            <label for="funcao">FUNÇÃO:</label>
            <input class="form-control" type="text" name="funcao" id="funcao" placeholder="Sua funcao" value="{{dados.funcao}}">
            <br>

            <!-- Campo de texto para inserir o veiculo -->
             <label for="veiculo">VEICULO:</label>
            <input class="form-control" type="text" name="veiculo" id="veiculo" placeholder="Seu veiculo" value="{{dados.veiculo}}">
            <br>

            <!-- Botão para enviar o formulário de cadastro -->
            <button type="submit" class="btn btn-primary" id="buttonForm">Atualizar</button>

        </form>
        
    </div>
</div>

<script>
    // Obtém o elemento do botão com o ID "buttonForm"
    let button = document.getElementById("buttonForm");

    // Adiciona um evento de clique ao botão
    button.addEventListener("click", (event) => {
        // Verifica se o botão existe e aplica alterações de estilo e texto ao ser clicado
        if (button) {
            button.style.background = "green"; // Muda a cor do fundo do botão para verde
            button.textContent = "Salvando..."; // Altera o texto do botão para "Salvando..."
        }

        // Adiciona um atraso de 2 segundos antes de enviar o formulário
        setTimeout(() => {
            form.submit(); // Submete o formulário após o atraso
        }, 2000);
        // Aqui você pode adicionar lógica para validação de formulário ou outras ações
    });
</script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    console.log("ID no formulário:", document.querySelector('input[name="id"]').value);
  });
</script>
