<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    }

    #liData{
    display: flex;
    justify-content: center !important;
    align-items: end;
    margin-right: 1rem;
    }


    #data{
    color: rgb(30, 21, 46) !important;
    display: contents;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #ini{
    display: none;
    }

    #home{
      display: none;
    }

    #sobre{
    display: none;
    }
    #retornarP{
    display: none;
    }

    #sair{
    display: none;
    }

   
    #lateral { 
    width: 100%;
    align-items: center;
    justify-content: start;
    height: 3rem;
    border: none;
    margin-bottom: 7rem;
    }

    #menus{
      display: flex;
      justify-content: space-evenly;
      gap: 4rem;
      margin-bottom: 4rem;
      margin-top: 5rem;
      
    }

    .menuLink{
    display: flex;
    text-decoration: none;
    color:#221f36;
    }
    
    #divDados{
        display: flex;
        border: 1px solid black;
        background-color:#221f36 !important;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #imgLogo{
        width: 10rem;
        height: 5rem;
    }

    #divValores{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 45vh;
        
        
    }

    @media (max-width: 1028px) {
        #divDados{
           
            font-size: 1.3rem;
        }

    }

     @media (max-width: 564px) {
        #divDados{
            width: 106vw;
            font-size: 1.3rem;
        }

    }

     @media (max-width: 314px) {
      #divDados {
      width: 158vw;
      font-size: 1.3rem;
    }

      #cardMeio {
      width: 100vw;
      display: flex;
      justify-content: space-around;
      gap: 3rem;
      margin-bottom: 7rem;
      margin-top: 2rem;
    }
      #imgLogo{
      width: 10rem;
      height: 5rem;
    }

    }

    @media (max-width: 480px) {
      #imgLogo{
      width: 10.5rem;
      height: 5.5rem;
    }
    }


</style>

{{#if dados}}

<div class="container-fluid">


            <div class="container" id="menus">
              
              <p><a href="/admin/inicio" class="menuLink">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#221f36" class="bi bi-house-door" viewBox="0 0 16 16">
                  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
                </svg>
              </a></p>
              
              <p><a href="/admin/estoqueEquipamentos" class="menuLink">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#221f36" class="bi bi-box" viewBox="0 0 16 16">
                  <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
                </svg>
              </a></p>
              
              <p><a href="/admin/OrdemServico" class="menuLink">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#221f36" class="bi bi-card-checklist" viewBox="0 0 16 16">
                  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                  <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
                </svg>
              </a></p>
              
              <p><a href="#" class="menuLink">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#221f36" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
                
              </a></p>

              <p><a href="/admin/logout" class="menuLink">
                <svg xmlns="http://www.w3.org/2000/svg" width="26"0 height="26"0 fill="#221f36" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                </svg>
              </a></p>

            </div>
         

    <div id="divValores">

        <div id="divDados" class="container-fluid">
            <p>Olá! Bem-vindo, {{dados.nome}}</p>
        </div>
    
        
        <p>Telefone: {{dados.telefone}}</p>
        <p>Função: {{dados.funcao}}</p>
        <p>Veiculo: {{dados.veiculo}}</p>

        <!-- Botão de edição -->
        <a href="/admin/dados/edit/{{dados._id}}">
          <button class="btn btn-primary" id="edit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"></path>
            </svg>
          </button>
        </a>
    </div>
</div>

{{else}}
  <!-- Mensagem exibida se o objeto "dado" não existir -->
  <p>Usuário não encontrado</p>
{{/if}}
